@import url(https://fonts.googleapis.com/css?family=IBM+Plex+Mono);

body {
	margin: 0;
	padding: 0;
	height: 100%;	
	font-family: 'Arial', serif;
	background-image: url("bannerimg.jpg");
    background-position: center;
}

header {
	background: #ffffff;
}

nav {
	margin: 0 auto;
	text-align: center;
}

nav ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

nav li {
	display: inline-block;
	margin-left: 50px;
	padding-top: 20px;
	padding-bottom: 20px;
}

nav ul > li > a {
	color: #000000;
	text-decoration: none;
	text-transform: uppercase;
}

nav ul > li > a:hover {
	color: #c1c1c1;
}

.title {
	font-family: 'IBM Plex Mono', serif;
	text-align: center;
}

.title > h1 {
	font-size: 5em; 
}
